<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door</title>
    <link rel="stylesheet" href="/css/door.css">
</head>
<body>
    <h1 style="color: white;">Door</h1>
    <div class="main">
        <div class="one">
            <img id="myImage" src="/images/CDoor.jpg" style="width:100%" height="100%">
        </div>
        <div class="two">
            <div class="two-one">
                <button onclick="document.getElementById('myImage').src='/images/ODoor.jpg'" id="btn-one"><img src="/images/open-door.jpg" style="width: 70px; height: 70px; border-radius: 50%;" alt="Open The Door"></button>
                <p style="color: white;">Open</p>
            </div>

            <div class="two-two">
                <button onclick="document.getElementById('myImage').src='/images/CDoor.jpg'" id="btn-two"><img src="/images/open-door.jpg" style="width: 70px; height: 70px; border-radius: 50%;" alt="Close The Door"></button>
                <p style="color: white;">Close</p>
            </div>
        </div>
    </div>
</body>
</html>