<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="main">
        <div class="sub-one">
            <h1>Smart Connect</h1>
            <h3>Home Security And Home Automation at Your Finger Tips</h3>
            <p>Control your doors, ac's, heater's, lights...and many more</p>
        </div>
        <div class="sub-two">
            <p id="warn"><%= msg %></p>
            <h2 id="user">User Login</h2>
            <form action="/" method="POST">
                <!-- <label for="email" id="e-label">Email:</label><br> -->
                <input type="email" name="email" id="email" placeholder="Email: example@gmail.com" required>
                <br>
                <!-- <label for="houseId" id="h-label">House ID:</label><br> -->
                <input type="number" name="houseId" id="houseId" placeholder="House ID: 0000" required>
                <br>
                <button type="submit" id="submit">Submit</button>
            </form>
            <br>
            <p id="else">If you dont have an account <a href="/register">sign up</a></p>
        </div>
    </div>
</body>
</html>