<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <!-- <h1>Here you are</h1> -->

    <!-- <br> -->
    <form action="/update" method="POST">
        <label for="name">Full name:</label><br>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email">
        <br>
        <label for="houseId">House ID:</label><br>
        <input type="password" name="houseId" id="houseId">
        <br>
        <label for="">Devices</label><br>
        <label for="door">Doors:</label>
        <input type="checkbox" name="door" id="door">
        <br>
        <label for="ac">AC:</label>
        <input type="checkbox" name="ac" id="ac">
        <br>
        <label for="heater">Heater:</label>
        <input type="checkbox" name="heater" id="heater">
        <br>
        <label for="bulb">Bulbs:</label>
        <input type="checkbox" name="light" id="bulb">
        <br>
        <!-- <label for="curtain">Curtains:</label>
        <input type="checkbox" name="curtain" id="curtain">
        <br> -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>