body{
    background-color: #15172b;
}
.main{
    width: 500px;
    height: 580px;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 25px 33px rgb(0, 0, 0);
}
.one{
    width: 100%;
    height: 40%;
    background-size: cover;
}
.two{
    width: 100%;
    height: 60%;
    background-color: #3d3f56;
}
.sub-one{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#all{
    border-radius: 50%;
    background-image: url("/images/power.png");
    /* margin-left: 10%; */
}
#all_one{
    border-radius: 50%;
    background-image: url("/images/power.png");
    margin-left: 15%;
}
.sub-two{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#all_two{
    border-radius: 50%;
    background-image: url("/images/power.png");
    /* margin-left: 10%; */
}
#all_three{
    border-radius: 50%;
    background-image: url("/images/power.png");
    margin-left: 15%;
}
.sub-three{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#all_four{
    border-radius: 50%;
    background-image: url("/images/power.png");
    /* margin-left: 10%; */
}
#off{
    border-radius: 50%;
    background-image: url("/images/power.png");
    margin-left: 15%;
}
.sub-four{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#one{
    border-radius: 50%;
    background-image: url("/images/power.png");
}
/* Media Queries */
@media screen and (max-width: 950px){
    .main{
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media screen and (max-width: 800px){
    .main{
        margin-left: 18%;
        margin-right: 20%;
    }
}
@media screen and (max-width: 730px){
    .main{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (max-width: 635px){
    .main{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 575px){
    .main{
        margin-left: 2%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 540px){
    .main{
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 530px){
    .main{
        width: 400px;
        margin-left: 10%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 490px){
    .main{
        width: 400px;
        margin-left: 5%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 460px){
    .main{
        width: 400px;
        margin-left: 2%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 440px){
    .main{
        width: 400px;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 430px){
    .main{
        width: 350px;
        margin-left: 5%;
        margin-right: 0%;
    }
    p{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    .main{
        width: 350px;
        margin-left: 2%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 385px){
    .main{
        width: 350px;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 375px){
    .main{
        width: 300px;
        margin-left: 5%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 350px){
    .main{
        width: 300px;
        margin-left: 2%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 335px){
    .main{
        width: 300px;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 325px){
    .main{
        width: 270px;
        margin-left: 3%;
        margin-right: 0%;
    }
    p{
        font-size: 10px;
    }
}
@media screen and (max-width: 310px){
    .main{
        width: 270px;
        margin-left: 1%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 300px){
    .main{
        width: 270px;
        margin-left: 0%;
        margin-right: 0%;
    }
}